header {
    background-color: #020203;
    display: flex;
    padding: 15px;
    svg {
        width: 180px;
        max-width: 100%;
      }

    nav {
        display: flex;
        ul {
            display: flex;
            gap: 100px;
            li {
                display: flex;
                justify-content: space-evenly;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding: 0.5rem 1rem;
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
    }
}