.radialChart {
    background-color: #FBFBFB;
    border-radius: 8px;
    // padding: 16px;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.chartSurface {
    transform: translateY(8%);
}
.radialChart__text {
    display: flex;
    font-size: 12px;
    align-items: center;
    
    & ::before {
        content: "";
        display: inline-block;
        width: 100px;
        height: 100px;
        background-color: #FF0000;
        border-radius: 50%;
        margin-right: 8px;
    }
    
}