header {
    background-color: #020203;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
    box-shadow: 1px 8px 16px -7px rgba(0, 0, 0, 0.278);
    & a:first-child{
        justify-content: flex-start;
    }
    a {
        display: flex;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        width: 16%;
        &:hover {
            color: #FF0101;
        }
    }
    svg {
        width: 180px;
        max-width: 100%;
      }
}